.cantainerAboutMe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.photo {
    height: 23rem;
    width: 23rem;
    border-radius: 100%;
    background-color: #151515;
    margin-top: 5rem;
}

.photo img{
    height: 370px;
    margin-left: 1.5rem;
}

.photoCel {
    display: none;
}

.description {
    height: 100%;
    width: 40rem;
}

.titleLine {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.titleAboutMe {
    display: flex;
    justify-content: center;
    color: #151515;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 80px;
}

.lineAboutMe {
    margin-left: 12rem;
    width: 10rem;
    border: 0.3rem solid #006400;
    border-radius: 1rem;
}

.textAboutMe {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 120%;
    line-height: 1.5rem;
    text-align: center;
}

.textAboutMeCell {
    display: none;
}


@media screen  and (min-width: 1400px){
    .description {
        margin-top: 10rem;
    }

    .textAboutMe {
        font-family: 'Rubik';
        font-style: normal;
        font-size: 140%;
        line-height: 1.5rem;
    }  

    .photoCel {
        display: none;
    }

    .photo {
        height: 30rem;
        width: 30rem;
    }

    .photo img{
        height: 490px;
        margin-left: 1.8rem;
    }
}

@media screen and (max-width: 1050px){
    .photo {
        height: 18rem;
        width: 18rem;
    }

    .photo img{
        height: 290px;
        margin-left: 1.3rem;
    }

    .description {
        height: 100%;
        width: 30rem;
    }

    .lineAboutMe {
        margin-left: 7rem;
        width: 10rem;
    }

    .aboutMe {
        margin-bottom: -10rem;
    }

}

@media screen and (max-width: 900px){
    .cantainerAboutMe {
        height: 100vh;
    }

    .photo {
        display: none;
    }

    .photoCel img{
        height: 290px;
        margin-left: 1.3rem;
    }

    .description {
        height: 100vh;
        width: 100%;
    }

    .titleLine {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .circle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
    }

    .photoCel {
        border-radius: 100%;
        background-color: #151515;
        margin-top: 1.8rem;
        height: 18rem;
        width: 18rem;
    }

    .lineAboutMe {
        margin-right: 5rem;
        margin-left: 0;
        display: flex;
        align-items: flex-start;
        width: 8rem;
    }
    
    .titleLine {
        margin-top: 1rem;
    }

    .titleAboutMe {
        font-size: 60px;
    }

    .textAboutMe {
        display: none;
    }

    .textAboutMeCell {
        display: flex;
        font-family: 'Rubik';
        font-style: normal;
        font-size: 1.3rem;
        line-height: 1.5rem;
        text-align: center;
        padding: 0.9rem;
        border-radius: 0.4rem;
        background-color: #fff;
        margin: 0.5rem 4% 0 4%;
    }

    .aboutMe {
        margin-bottom: -10rem;
    }

    svg {
        display: none;
    }
}

@media screen and (max-width: 800px){
    .cantainerAboutMe {
        height: 100vh;
    }

    .photo {
        display: none;
    }

    .photoCel img{
        height: 260px;
        margin-left: 1.3rem;
    }

    .description {
        height: 100%;
        width: 100%;
    }

    .titleLine {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .circle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 17rem;
    }

    .photoCel {
        border-radius: 100%;
        background-color: #151515;
        margin-top: 2rem;
        height: 16rem;
        width: 16rem;
    }

    .lineAboutMe {
        margin-right: 5rem;
        margin-left: 0;
        display: flex;
        align-items: flex-start;
        width: 8rem;
    }
    
    .titleLine {
        margin-top: 1rem;
    }

    .titleAboutMe {
        font-size: 50px;
    }

    .textAboutMe {
        display: none;
    }

    .textAboutMeCell {
        display: flex;
        font-family: 'Rubik';
        font-style: normal;
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: center;
        padding: 1rem;
        border-radius: 0.4rem;
        background-color: #fff;
        margin: 2rem 4% 0 4%;
    }

    .aboutMe {
        margin-bottom: -10rem;
    }

    svg {
        display: none;
    }
}

@media screen and (max-width: 700px){
    .cantainerAboutMe {
        height: 100vh;
        background-color: #EEEEEE;
        display: flex;
        align-items: center;
    }

    .photo {
        display: none;
    }

    .photoCel img{
        height: 239px;
        margin-left: 1.1rem;
    }

    .description {
        height: 100%;
        width: 100%;
    }

    .circle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
    }

    .photoCel {
        border-radius: 100%;
        background-color: #151515;
        margin-top: 2rem;
        height: 15rem;
        width: 15rem;
    }

    .titleLine {
        margin-top: 0rem;
    }

    .titleAboutMe {
        font-size: 50px;
        margin-top: 1.5rem;
    }

    .textAboutMe {
        display: none;
    }

    .textAboutMeCell {
        display: flex;
        font-family: 'Rubik';
        font-style: normal;
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: center;
        padding: 1rem;
        border-radius: 0.4rem;
        background-color: #fff;
        margin: 3rem 7% 0 7%;
        }

    svg {
        display: none;
    }

}

@media screen and (max-width: 600px){
    .cantainerAboutMe {
        height: 100vh;
        background-color: #EEEEEE;
        display: flex;
        align-items: center;
    }

    .photo {
        display: none;
    }

    .description {
        height: 100%;
        width: 100%;
    }

    .circle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
    }

    .photoCel {
        border-radius: 100%;
        background-color: #151515;
        margin-top: 2rem;
        height: 15rem;
        width: 15rem;
    }
    
    .titleLine {
        margin-top: 0rem;
    }

    .titleAboutMe {
        font-size: 50px;
        margin-top: 1.5rem;
    }

    .textAboutMe {
        display: none;
    }

    .textAboutMeCell {
        display: flex;
        font-family: 'Rubik';
        font-style: normal;
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: center;
        padding: 1rem;
        border-radius: 0.4rem;
        background-color: #fff;
        margin: 2rem 4% 0 4%;
        }

    svg {
        display: none;
    }

}

@media screen and (max-width: 500px){
    .cantainerAboutMe {
        height: 120vh;
        background-color: #EEEEEE;
    }

    .photoCel {
        margin-top: 2.5rem;
    }

    .textAboutMeCell {
        display: flex;
        font-family: 'Rubik';
        font-style: normal;
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: center;
        padding: 1rem;
        border-radius: 0.4rem;
        background-color: #fff;
        margin: 3rem 7% 0 7%;
        height: calc(100% - 22rem);
    }

    .textAboutMeCell p{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 400px){
    .cantainerAboutMe {
        height: 120vh;
        background-color: #EEEEEE;
    }

    .photo {
        display: none;
    }

    .circle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photoCel {
        border-radius: 100%;
        background-color: #151515;
        margin-top: 2rem;
        margin-left: 0;
        height: 14rem;
        width: 14rem;
    }

    .titleLine {
        margin-top: 2rem;
    }

    .titleAboutMe {
        font-size: 50px;
    }

    .textAboutMeCell {
        display: flex;
        font-family: 'Rubik';
        font-style: normal;
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: center;
    }

    svg {
        display: none;
    }

}